src/main/mule/template-apiled-system-employee-wday.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="template-apiled-system-employee-wday-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="template-apiled-system-employee-wday-config" raml="template-apiled-system-employee-wday.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="template-apiled-system-employee-wday-main">
        <http:listener config-ref="template-apiled-system-employee-wday-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="template-apiled-system-employee-wday-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="template-apiled-system-employee-wday-console">
        <http:listener config-ref="template-apiled-system-employee-wday-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="template-apiled-system-employee-wday-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\employees\(id):template-apiled-system-employee-wday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "OK"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\employees\(id):application\json:template-apiled-system-employee-wday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "OK"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\employees\(id):template-apiled-system-employee-wday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "21016",
  firstName: "Chad",
  lastName: "Anderson",
  addressLine: "200 W. Grand  Apt. 1965",
  city: "Chicago",
  postalCode: "60610",
  country: "USA",
  region: "Illinois",
  birthDate: "1974-05-22-07:00",
  phone: "992-4345",
  email: "canderson@workday.net",
  positionTitle: "Senior Benefits Analyst",
  hireDate: "2000-01-01-08:00",
  weeklyHours: "40"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\employees:template-apiled-system-employee-wday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "21001",
    firstName: "Logan",
    lastName: "McNeil",
    addressLine: "3939 The Embarcadero",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1972-05-25-07:00",
    phone: "444-8262",
    email: "kit.wong+jobvite@mulesoft.com",
    positionTitle: "Chief Human Resources Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21002",
    firstName: "Steve",
    lastName: "Morgan",
    addressLine: "965 Tulare Avenue",
    city: "Berkeley",
    postalCode: "94707",
    country: "USA",
    region: "USA-CA",
    birthDate: "1959-05-22-07:00",
    phone: "635-1856",
    email: "smorgan@workday.net",
    positionTitle: "Chief Executive Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21003",
    firstName: "Oliver",
    lastName: "Reynolds",
    addressLine: "2788 Clay Street",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1962-04-10-08:00",
    phone: "435-1163",
    email: "oreynolds@workday.net",
    positionTitle: "Chief Information Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21004",
    firstName: "Maximilian",
    lastName: "Schneider",
    addressLine: "300 Road st",
    city: "San Francisco",
    postalCode: "94102",
    country: "USA",
    region: "USA-CA",
    birthDate: "1967-01-19-08:00",
    phone: "766-0809",
    email: "mschneider@workday.net",
    positionTitle: "Chief Operating Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21005",
    firstName: "Teresa",
    lastName: "Serrano",
    addressLine: "1155 Avenue of the Americas",
    city: "New York",
    postalCode: "10036",
    country: "USA",
    region: "Not presented",
    birthDate: "1957-05-05-07:00",
    phone: "755-8292",
    email: "tserrano@workday.net",
    positionTitle: "Chief Financial Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21006",
    firstName: "Maria",
    lastName: "Cardoza",
    addressLine: "4432 John Daly Blvd.",
    city: "Daly City",
    postalCode: "94707",
    country: "USA",
    region: "USA-CA",
    birthDate: "1971-01-29-08:00",
    phone: "445-6767",
    email: "mcardoza@workday.net",
    positionTitle: "Director, Employee Benefits",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21007",
    firstName: "Jacqueline",
    lastName: "Desjardins",
    addressLine: "1888 Broadway Street  Apt. # 910",
    city: "San Francisco",
    postalCode: "94109",
    country: "USA",
    region: "USA-CA",
    birthDate: "1969-02-17-08:00",
    phone: "828-1466",
    email: "jdesjardins@workday.net",
    positionTitle: "Director, Recruiting Services",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21008",
    firstName: "Betty",
    lastName: "Liu",
    addressLine: "3939 The Embarcadero",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1990-11-22-08:00",
    phone: "445-6778",
    email: "bliu@workday.net",
    positionTitle: "Director, Payroll Operations",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21009",
    firstName: "Pedro",
    lastName: "Santiago",
    addressLine: "5067 Thomas Street",
    city: "Annapolis",
    postalCode: "21409",
    country: "USA",
    region: "Not presented",
    birthDate: "1960-02-29-08:00",
    phone: "431-1256",
    email: "psantiago@workday.net",
    positionTitle: "Director, Workforce Planning",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21012",
    firstName: "Norman",
    lastName: "Chan",
    addressLine: "541 Biscayne Drive",
    city: "San Rafael",
    postalCode: "94901",
    country: "USA",
    region: "USA-CA",
    birthDate: "1979-08-02-07:00",
    phone: "333-4554",
    email: "nchan@workday.net",
    positionTitle: "Staff Payroll Specialist",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21010",
    firstName: "Lillian",
    lastName: "Chu",
    addressLine: "1515 Spruce Street",
    city: "Berkeley",
    postalCode: "94709",
    country: "USA",
    region: "USA-CA",
    birthDate: "1970-07-22-07:00",
    phone: "692-3646",
    email: "lchu@workday.net",
    positionTitle: "Senior Benefits Analyst",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21014",
    firstName: "James",
    lastName: "Moore",
    addressLine: "312 Oak Street  Apt. 5",
    city: "Oakland",
    postalCode: "94607",
    country: "USA",
    region: "USA-CA",
    birthDate: "1977-06-19-07:00",
    phone: "838-1622",
    email: "jmoore@workday.net",
    positionTitle: "Staff Recruiter",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21011",
    firstName: "Isabel",
    lastName: "Arguello",
    addressLine: "3939 The Embarcadero",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1967-04-15-08:00",
    phone: "722-9845",
    email: "iarguello@workday.net",
    positionTitle: "Staff Payroll Specialist",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21013",
    firstName: "David",
    lastName: "Spiegel",
    addressLine: "4255 Fourth Street",
    city: "Santa Rosa",
    postalCode: "95405",
    country: "USA",
    region: "USA-CA",
    birthDate: "1980-09-07-07:00",
    phone: "824-1142",
    email: "dspiegel@workday.net",
    positionTitle: "Senior Payroll Specialist",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21015",
    firstName: "Daniel",
    lastName: "Betancourt",
    addressLine: "185 Carl Street",
    city: "San Francisco",
    postalCode: "94117",
    country: "USA",
    region: "USA-CA",
    birthDate: "1982-07-22-07:00",
    phone: "635-9002",
    email: "dbetancourt@workday.net",
    positionTitle: "Senior Workforce Analyst",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21016",
    firstName: "Chad",
    lastName: "Anderson",
    addressLine: "200 W. Grand  Apt. 1965",
    city: "Chicago",
    postalCode: "60610",
    country: "USA",
    region: "Not presented",
    birthDate: "1974-05-22-07:00",
    phone: "992-4345",
    email: "canderson@workday.net",
    positionTitle: "Senior Benefits Analyst",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21017",
    firstName: "Sara",
    lastName: "Goldstein",
    addressLine: "845 Third Avenue  Apt. 4",
    city: "New York",
    postalCode: "10022",
    country: "USA",
    region: "Not presented",
    birthDate: "1958-03-05-08:00",
    phone: "559-2314",
    email: "sgoldstein@workday.net",
    positionTitle: "Director, Accounting",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21018",
    firstName: "Jerome",
    lastName: "Williams",
    addressLine: "1788 North Halsted",
    city: "Chicago",
    postalCode: "60610",
    country: "USA",
    region: "Not presented",
    birthDate: "1978-10-14-07:00",
    phone: "822-0712",
    email: "jwilliams@workday.net",
    positionTitle: "Senior Accountant",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21019",
    firstName: "Angela",
    lastName: "Mora",
    addressLine: "5801 College Avenue",
    city: "Oakland",
    postalCode: "94618",
    country: "USA",
    region: "USA-CA",
    birthDate: "1967-09-20-07:00",
    phone: "922-5201",
    email: "amora@workday.net",
    positionTitle: "Accounting Specialist - AR",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21020",
    firstName: "Andrew",
    lastName: "Walton",
    addressLine: "7835 Sonoma Hwy",
    city: "Kenwood",
    postalCode: "95452",
    country: "USA",
    region: "USA-CA",
    birthDate: "1974-06-04-07:00",
    phone: "826-1182",
    email: "awalton@workday.net",
    positionTitle: "Tax Accountant",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\employees:application\json:template-apiled-system-employee-wday-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "123456"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
